body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.img-wrap{
	width: 100%;

}

.img-wrap img{
	width: 100%;
	padding: 10px;
	border-radius: 50%;
	margin-top: 100px;
	box-shadow: 0 0 10px #999999
}