body{
	font-family: Century Gothic;
}
.form{
	align-content: auto;
}

.btn{
	border: 0;
	background: #34495e
	color:#fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;

}


.btn:hover{
	background: #2980b9;
}
.ff{
	display: block;
    width: 20%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 20px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
